body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #008d95;
  color: white;
}

.logoKduco {
  content: url(../../../recursos/Kduco_logo.png);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: auto;
  padding: 2rem;  
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  right: 39%;
  transform: translate(-50%, -50%);
  width: clamp(20rem, 70vw, 38rem);
  height: 50vw;
  aspect-ratio: 4 / 3;
  max-height: calc(100vh - 4rem);
  min-height: 300px;
}

.card-tittle, #rowTittle {
  text-align: center;
}

a, img {
  display: block;
}

#contraseñaPerdida {
  text-align: right;
  font-style: italic;
}

#btnLogin {
  border: none;
  margin: #c0f8d1;
  color: black;
  background-color: #c0f8d1;
}

