body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

nav {
  background-color: #008d95;
}
.navbar-brand {
  color: white;
  content: url(../../../recursos/placeholder1.png);
  width: 60px;
  height: 70px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background:#008d95;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-text {
  color: white;
  text-align: left;
}
a {
  color: white;
  text-decoration: none;
}